/* START TABLE CSS */
.rdt_TableHeader {
    display: none;
}
.rdt_Table {
    max-width: 1452px;
    margin-left: 0 auto;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 30px 30px 17px 30px;
}
.rdt_TableCell img {
	width: 27px !important;
	height: 27px !important;
    margin-right: 8px;
    border-radius: 50%;
}
.rdt_TableCell>div {
    display: flex;
    align-items: center;
}
.rdt_TableCell a, .rdt_TableCell div, .rdt_TableCell b {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #37374D;
}
.rdt_TableHead {
    padding-left: 50px;
    padding-right: 50px;
    background: #F6F7F9;
    border-radius: 10px;
    max-height: 50px;
}
.rdt_TableHead .rdt_TableHeadRow {
    background-color: transparent;
    border: none;
}
.rdt_TableHead .rdt_TableHeadRow .rdt_TableCol {
    padding: 0;
}
.rdt_TableHead .rdt_TableHeadRow .rdt_TableCol div {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #6D6D75;
}
.rdt_TableHead .rdt_TableHeadRow .rdt_TableCol .fuWjNi {
    display: none;
}
.rdt_TableBody {
    /* padding-left: 50px;
    padding-right: 50px; */
}
.rdt_TableBody .rdt_TableCell {
    padding: 0;
    min-height: 50px;
    max-height: 50px;
}
.eliEPG {
    min-height: 50px;
    max-height: 50px;
}
.rdt_TableBody .rdt_TableRow {
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: none !important;
    background: transparent;
}
.rdt_TableBody .rdt_TableRow:hover {
    transition: all 0.3s ease-in-out;
    background: rgba(31, 174, 166, .05);
}
div.rdt_TableCell div.dropdown div.menu.transition {
   position: static;
   margin: 0 !important;
   display: flex;
   align-items: center;
   box-shadow: none !important;
   border: none !important;
   background: transparent !important;
}
.rdt_TableCell .menu.transition .item {
    padding: 0 !important;
    font-size: 0;
    width: 15px;
    height: 100%;
    transition: all .3s ease-in-out;
    background-color: transparent !important;
}
.ui.dropdown .menu>.item:hover {
    background-color: transparent !important;
    transform: scale(1.2) !important;
}
.rdt_TableCell .menu.transition .item:not(last-child) {
    margin-right: 17px;
}
.rdt_TableCell .menu.transition .item label {
    font-size: 0;
}
.rdt_TableCell .menu.transition .item:first-child {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.875 2.5H2.5C2.16848 2.5 1.85054 2.6317 1.61612 2.86612C1.3817 3.10054 1.25 3.41848 1.25 3.75V12.5C1.25 12.8315 1.3817 13.1495 1.61612 13.3839C1.85054 13.6183 2.16848 13.75 2.5 13.75H11.25C11.5815 13.75 11.8995 13.6183 12.1339 13.3839C12.3683 13.1495 12.5 12.8315 12.5 12.5V8.125' stroke='%236D6D75' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.5625 1.56252C11.8111 1.31388 12.1484 1.17419 12.5 1.17419C12.8516 1.17419 13.1889 1.31388 13.4375 1.56252C13.6861 1.81116 13.8258 2.14839 13.8258 2.50002C13.8258 2.85165 13.6861 3.18888 13.4375 3.43752L7.5 9.37502L5 10L5.625 7.50002L11.5625 1.56252Z' stroke='%236D6D75' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.rdt_TableCell .menu.transition .item:nth-child(2) {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.875 3.75H3.125H13.125' stroke='%236D6D75' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 3.75V2.5C5 2.16848 5.1317 1.85054 5.36612 1.61612C5.60054 1.3817 5.91848 1.25 6.25 1.25H8.75C9.08152 1.25 9.39946 1.3817 9.63388 1.61612C9.8683 1.85054 10 2.16848 10 2.5V3.75M11.875 3.75V12.5C11.875 12.8315 11.7433 13.1495 11.5089 13.3839C11.2745 13.6183 10.9565 13.75 10.625 13.75H4.375C4.04348 13.75 3.72554 13.6183 3.49112 13.3839C3.2567 13.1495 3.125 12.8315 3.125 12.5V3.75H11.875Z' stroke='%236D6D75' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.25 6.875V10.625' stroke='%236D6D75' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.75 6.875V10.625' stroke='%236D6D75' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.rdt_TableCell .menu.transition .item:last-child {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M14.375 2.5V6.25H10.625' stroke='%236D6D75' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.8063 9.37501C12.4 10.525 11.631 11.5117 10.6151 12.1866C9.59927 12.8614 8.39158 13.1879 7.17406 13.1166C5.95654 13.0454 4.79514 12.5804 3.86489 11.7917C2.93464 11.003 2.28594 9.93327 2.01653 8.74379C1.74711 7.55432 1.8716 6.3095 2.37121 5.19693C2.87083 4.08435 3.71851 3.1643 4.78652 2.57541C5.85453 1.98652 7.085 1.7607 8.29252 1.93197C9.50004 2.10325 10.6192 2.66235 11.4813 3.52501L14.375 6.25001' stroke='%236D6D75' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='15' height='15' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.rdt_TableCell .menu.transition .item img {
    display: none;
}
.cm-body .btn a, .cm-body .button, .cm-body .ui.primary.button.btn, .cm-body .ui.secondary.button.btn, .cm-body .ui.blue.buttons .ui.floating.dropdown.button {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background-color: transparent !important;
}
.rdt_TableCell .dropdown.button i.dropdown.icon {
    display: none;
}
.bBTaow div {
    display: flex;
}
.bBTaow div div {
    width: auto !important;
    float: none !important;
    margin: 0 !important;
}
.bBTaow div div:not(:last-child) {
   margin-right: 70px;
}
.rdt_Pagination {
    min-height: 50px !important;
    background-color: transparent !important;
    border-top: none !important;
    padding: 0 !important;
    max-width: 1452px !important;
    margin: 0 auto !important;
}
.dashboard-table {
    background-color: #E5E5E5;
    min-height: 100vh;
}
.bBTaow, .dZrYUP {
    max-width: 1452px !important;
    margin: 0 auto !important;
}
.bBTaow {
    background-color: transparent !important;
    padding: 0 !important;
}
.bBTaow .search.selection {
   border: none !important;
   transition: all 0.3s ease-in-out;
   padding: 0 !important;
   min-height: 50px;
   display: flex;
   align-items: center;
   padding: 0 20px !important;
}
.bBTaow .search.selection .default.text {
    font-size: 16px !important;
    line-height: 20px !important;
    color: #37374D;
    font-weight: 400;
}
.bBTaow .search.selection .default.text+.icon {
   padding: 22px 24px 22px 0;
}
.bBTaow .search.selection .default.text+.icon:before {
    width: 12px;
    height: 6px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.16667 1.49998L7.00001 7.33331L12.8333 1.49998' stroke='%23BCBCC4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
}
.cm-body input[type="text"] {
    margin: 0;
    padding: 0 !important;
    border-radius: 5px;
}
.bBTaow .search.selection:hover .text {
    color: #1FAEA6;
}
.bBTaow .search.selection:hover .default.text+.icon:before {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.49998L6.83333 7.33331L12.6667 1.49998' stroke='%231FAEA6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}